# #############################################
#   ignore this directories
# #############################################

ilias-sp/iliasdata/  
ilias-sp/iliaslog/
si-sp/iliasdata/
si-sp/iliaslog/
si-sp/shibboleth-logs/
si-sp/localcerts/
mysql-db/iliasdb/
certificates-federations/

# #############################################
#            *      ,MMM8&&&.           *
#       '          MMMM88&&&&&    .     
#                 MMMM88&&&&&&&          *
#     *     *     MMM88&&&&&&&&            *
#                 MMM88&&&&&&&&       '     
#            *    'MMM88&&&&&&'           *
#   '               'MMM8&&&'      *    
#          |\___/|     /\___/\
#          )     (     )     (               '
#         =\     /=   =\~    /=
#           )===(       ) ~ (
#          /     \     /     \
#          |     |     ) ~   (
#         /       \   /     ~ \
#         \       /   \~     ~/
#  ____/\_/\__  _/_/\_/\__~__/_/\_/\larry1337/\|
#  |  |  |  |( (  |  |  | ))  |  |  |  |  |  | |
#  |  |  |  | ) ) |  |  |//|  |  |  |  |  |  | |
#  |  |  |  |(_(  |  |  (( |  |  |  |  |  |  | |
#  |  |  |  |  |  |  |  |\)|  |  |  |  |  |  | |
#  |  |  |  |  |  |  |  |  |  |  |  |  |  |  | |
# ##############################################
